<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>website</title>

<style>

</style>
</head>
<body>
  <div class="parent">
    <div class="bars-btn">
    <i class="fa fa-bars"></i>
    </div>
    <div class="child">
      <img src="https://www.w3schools.com/w3images/avatar_g2.jpg">

      <h3>PORTFOLIO</h3>
      <p>Template W3</p> 

      <a><h4>PORTFOLIO</h4></a>
      <a><h4>CONTACT</h4></a>
      <a><h4>ABOUT</h4></a>

      <i style="margin-left:20px;margin-top: 30px;" class="fa fa-facebook-square"></i>
      <i style="margin-left:5px;" class="fa fa-instagram"></i>
      <i style="margin-left:5px;" class="fa fa-snapchat"></i>
      <i style="margin-left:5px;" class="fa fa-pinterest"></i>
      <i style="margin-left:5px;" class="fa fa-twitter"></i>
      <i style="margin-left:5px;" class="fa fa-linkedin"></i>

    </div>
    <div class="maindiv">
      <h1>My Portfolio</h1>
      <div class="second">
            <div class="fil">Filter:</div>
            <div class="btn-type">
              <button>ALL</button>

              <button><i class="fa fa-diamond" aria-hidden="true"></i>
                Design</button>

              <button><i class="fa fa-picture-o" aria-hidden="true"></i>
                Photos</button>

                <button><i class="fa fa-map-pin" aria-hidden="true"></i>
              Art</button>
            </div>
    </div>

      <div class="main">
        <div class="loop" *ngFor="let abc of items">
          <img [src]="abc.img">
          <p class="name"> {{abc.name}}</p><br>
          <p  style="font-family:Raleway, sans-serif;">{{abc.des}}</p>
        </div>
      </div>
      <div  style="margin-top: 50px;display: flex;justify-content: center;" class="w3-bar">
      <button style="border: none;"><a href="#" class="w3-bar-item w3-button w3-hover-black">«</a></button>
      <button style="border: none;background-color: black;color: white;"><a href="#" class="w3-bar-item w3-black w3-button">1</a></button>
      <button style="border: none;"><a href="#" class="w3-bar-item w3-button w3-hover-black">2</a></button>
     <button style="border: none;"> <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a></button>
     <button style="border: none;"> <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a></button>
     <button style="border: none;"> <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a></button>
    </div>

       <div class="type">
      <div *ngFor="let xyz of data">
        <img  [src]="xyz.img">
      </div>
    </div>

      <h4 class="about">About Me</h4>

      <p class="text">Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>

      <div class="tech"> 
        <h3>Technical Skills</h3>
        <p>Photography</p>
        <div class="bar">95%</div>
        <p>Photography</p>
        <div class="bar">95%</div>
        <p>Photography</p>
        <div class="bar">95%</div>


      </div>

     <button class="res"><i class="fa fa-download" aria-hidden="true"></i>
          Download Resume</button>

          <h4 class="charge">How much I charge</h4>

     <!--      
    <div class="div6">


             <div class="div7">
               <p>Basic</p>
      <ul>
        <li>Web Design</li>
        <li>Photography</li>
        <li>1GB Storage</li>
        <li>Mail Support</li>
        <li style="font-size:30px;">$ 10</li>
      </ul> 
      <button>Sign Up</button>
    </div>


    <div class="div8">
       <p>Pro</p>
        <ul>
        <li >Web Design</li>
        <li>Photography</li>
        <li>1GB Storage</li>
        <li>Mail Support</li>
        <li style="font-size:30px;">$ 10</li>
      </ul> 
      <button>Sign Up</button>
    </div>
    <div class="div9">
       <p>Premium</p>
        <ul>
        <li>Web Design</li>
        <li>Photography</li>
        <li>1GB Storage</li>
        <li>Mail Support</li>
        <li style="font-size:30px;">$ 10</li>
      </ul> 
      <button>Sign Up</button>
    </div>
    
  </div>
 -->
   

  <div class="div10">
    <h3>Contact Me</h3>
    <div style="border:2px solid gray;">
      <div style="width:30%;height: 115px;display: inline-block;">
        <img src="https://icon-library.com/images/envelope-icon-vector/envelope-icon-vector-14.jpg">
        <p>anjuchauhan@gmail.com</p>
      </div>

      <div style="width:30%;height: 115px; background-color: #009688; display: inline-block;">
        <img src="https://previews.123rf.com/images/asmati/asmati1706/asmati170605904/80929978-mark-pointer-sign-vector-white-icon-with-soft-shadow-on-transparent-background-.jpg">
        <p>Chicago, US</p>
      </div>
      
      <div style="width:30%;height: 115px;display: inline-block;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQNvHrT5NdiLPqWOByax6He8u7K2I_N_UQpA&usqp=CAU">
        <p>512312311</p>
      </div> 
    </div>
  <h4>Name</h4>
  <input type="text">
  <h4>Email</h4>
  <input type="text">
  <h4>Message</h4>
  <input type="text">
<button><i class="fa fa-telegram" aria-hidden="true"></i>
  Send Message</button>
    </div>
    <div class="div11">
      <div class="footer">

        <div class="last">
          <h3>FOOTER</h3>
          <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          <h5>Powered by w3.css</h5>
          
        </div>
        <div class="divchild">
          <h3>BLOG POSTS</h3>
          <img src="https://www.w3schools.com/w3images/workshop.jpg"><br>

           <img src="https://www.w3schools.com/w3images/gondol.jpg">
          
        </div>
        <div class="test">

          <h3>POPULAR TAGS</h3>
          <button>London</button>
          <button>Delhi</button>
          <button>York</button>
          <button>Travel</button>
        </div>
      </div>
    </div>

    <div class="down">

  <p>Powered by w3.css</p>
      
    </div>
  </div>
</div>

</body>
</html>